{% extends 'AlpixelCMSBundle:admin/layout:standard_layout.html.twig' %}


{% block sonata_page_content_nav %}
    {% if _tab_menu is not empty or _actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            {% block tab_menu_navbar_header %}
                {% if _navbar_title is not empty %}
                    <div class="navbar-header">
                        <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                    </div>
                {% endif %}
            {% endblock %}
            <div class="container-fluid">
                <div class="navbar-left">
                    {% if _tab_menu is not empty %}
                        {{ _tab_menu|raw }}
                    {% endif %}
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown sonata-actions">
                        <a href="#" id="cms-content-type">
                            <i class="fa fa-plus"></i>
                            Ajouter une nouvelle page
                        </a>
                    </li>
                </ul>

                {% if _list_filters_actions is not empty %}
                    {{ _list_filters_actions|raw }}
                {% endif %}
            </div>
        </nav>
    {% endif %}

    <div id="cmsbundle-create-content-type-show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Création d'une nouvelle page</h4>
                </div>
                <div class="modal-body">
                    {% if cmsContentType is defined %}
                        {% for type in admin.getCMSTypes() %}
                            {% if type.admin is defined and type.admin.hasRoute('create') and type.admin.isGranted('CREATE') %}
                                <p>
                                    <strong>{{ type.title }}</strong>
                                    <br>
                                    {{ type.description }}
                                    {% if type.admin is defined %}
                                        <a href="{{ type.admin.generateUrl('create') }}"
                                           class="right btn btn-success pull-right cms-link-content">Créer</a>
                                    {% endif %}
                                </p>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock sonata_page_content_nav %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#cms-content-type").click(function () {
                $("#cmsbundle-create-content-type-show").modal('show');
            });
        });
    </script>
{% endblock %}
