{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a href="{{base_url}}" rel="noreferrer" target="_blank">retour au site</a>
    </p>
    <p class="text-center small" style="padding-top: 10px; color: #b8c7ce">Version {{ constant('Alpixel\\Bundle\\CMSBundle\\AlpixelCMSBundle::VERSION') }}</p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var BASE_URL = '{{base_url}}';
    </script>
    {{ parent() }}
    <script src="{{ asset('bundles/alpixelcms/js/collection_ckeditor_fix.js') }}"></script>
{% endblock %}
